:root {
  font-family: Poppins, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /*  line-height: 1.5;*/
  font-weight: 400;
  font-size: 1.1em;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /*  background-color: #ffffef;*/
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  /* color: #646cff; */
  color: #664422;
  text-decoration: none;
  /*-webkit-text-stroke: 1px;*/
}

a:hover {
  /* color: #535bf2; */
  color: #aa8822;
  /* letter-spacing: 0.5px; */
}

.form-group {
  display: grid;
  grid-template-columns: 1fr;
  padding: 5px 10px;
}

.inline-form-group {
  display: flex;
  padding: 5px 10px;
  gap: 5px;
}

form {
  /* border-left: 1px solid #0003; */
  padding: 20px 40px;
}

label {

  /*  -webkit-text-stroke: 1px;*/
}

input,
select {
  font: inherit;
  /*  -webkit-text-stroke: 0.5px;*/

  border: none;
  background-color: #ffffff00;
  border-bottom: 1px solid #0002;
  /* width: 300px; */
  /* height: 30px; */

  &[type="text"],
  &[type="password"],
  &[type="email"],
  &[type="tel"] {
    border: none;
    background-color: #ffffff00;
    border-bottom: 1px solid #0002;
    border-radius: 0px;
    /* padding: 5px; */
    /* width: 300px; */
    /* height: 25px; */

  }

  &:focus {
    /* border-width: 2px; */
    outline: none;
  }
}

html {
  height: 100dvh
}

body {
  margin: 0;
  /* max-height: 100dvh; */
  inset: 0;
  height: 100%;
  font-family: "Albert Sans";
  /* -webkit-text-stroke: 1px; */
  color: #321;
}

h1 {
  font-size: 3em;
  line-height: 1.1;
}

button,
.btn {
  display: flex;
  flex-direction: row;
  place-items: center;
  gap: 10px;
  color: #000;
  border-radius: 50px;
  border: 1px solid #0003;
  padding: 0.3em 1.2em;
  font-size: 1em;
  font-family: inherit;
  background-color: #fdfdfd;
  cursor: pointer;
  transition: all 50ms;
  width: fit-content;

  &.transparent {
    background: transparent;

  }

  &.borderless {
    border: none;
  }

  &.success {
    background: #2e6;
  }

  &.disabled {

    background: #eee;
    color: #666;
  }

  &.invisible {
    opacity: 0;
  }
}

button:hover,
btn:hover {
  border-color: #0005;
}

.btn:focus,
button:focus,
.btn:focus-visible,
button:focus-visible {
  /* outline: 4px auto -webkit-focus-ring-color; */
  outline: none;
}

.card {
  padding: 2em;
}

#app {
  max-width: 100dvw;
  height: 100vh;
  margin: 0 auto;
}

* {
  transition: all 300ms ease-in-out;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    /* background-color: #f9f9f9; */
  }
}



.flex {
  display: flex;
}

.pad-5 {
  padding: 5px
}

.pad-10 {
  padding: 10px
}

.pad-15 {
  padding: 15px
}

.pad-20 {
  padding: 20px
}

.row {
  display: flex;
  flex-direction: row;
  gap: 15px;
}